@media (max-width: 900px) {
  .flex{
    justify-content: space-around;}
}

.flex-container-1,
.flex-container-2,
.flex-container-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  font-size: 2vw;
  background-color: #fff;
}

.flex-item {
  border: 3px solid #00926b;
  color: #00926b;
  margin: 5px;
  padding: 10px;
}
.flex-container-3 .flex-item,
.flex-container-1 > .flex-item:first-child,
.flex-container-2 > .flex-item {
  flex-grow: 1;
}
.flex-column {
  flex-direction: column;
}
/* Box 6,7 такого же размера, как Box 3 */